<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key="SecurityKey" value="ZgurJ420"/>
    </appSettings>

    <connectionStrings>
      <add name="MovieReviewEntities" connectionString="metadata=res://*/MovieReview.csdl|res://*/MovieReview.ssdl|res://*/MovieReview.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RAMYACHIRANTH\RAMYASQL;initial catalog=MovieReview;persist security info=True;user id=sa;password=sql2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    </connectionStrings>
</configuration>
