<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="SecurityKey" value="ZgurJ420"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="MovieReviewEntities" connectionString="metadata=res://*/MovieReview.csdl|res://*/MovieReview.ssdl|res://*/MovieReview.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RAMYACHIRANTH\RAMYASQL;initial catalog=MovieReview;persist security info=True;user id=sa;password=sql2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="MovieReviewEntities" connectionString="metadata=res://*/MovieReview.csdl|res://*/MovieReview.ssdl|res://*/MovieReview.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=allthatsindian.com;initial catalog=MovieReview;persist security info=True;user id=mrread;password=mrread;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>